body{
  margin: 0;
  margin-left: 500px;
  margin-right: 500px;
}

header{
  margin-top: 20px; 
}

.header{
  display: flex;
  justify-content: space-between;
}

.basket{
  display: flex;
  flex-direction: row;
}

.basket img{
  width: 44px;
  height: 44px;
}

.basket p{
  margin-left: 10px;
  font-family: arial;
  font-size: 14pt;
}

.num{
  font-family: arial;
  font-size: 10pt;
}

.descriptoin {
  width: px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.mobil img{
  width: 200px;
}

.text{
  margin-left: 50px;
  font-family: arial;
  font-size: 14pt;
} 

.price{
  margin-top: 20px;
  font-family: arial;
  font-size: 20pt;
}

.kal span{
  margin-top: 20px;
  font-family: arial;
  font-size: 16pt;
}

.kal label{
  margin-top: 200px;
  font-family: arial;
  font-size: 14pt;
}

.btn-primary{
  margin-top: 20px;
  transition-duration: 1s;
  color: #FFFFFF;
  display: block;
  padding: 5px 11px;
  font-size: 12pt;
  border: solid 1px #F9F9F9;
  border-radius: 2px;
  background: #70C6B9;
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 30px;
  transition-duration: 60s;
}

.btn-primary:hover{
  background-color: #E30613;
}

.btn_bay{
  margin-top: 20px;
  transition-duration: 1s;
  color: #FFFFFF;
  display: block;
  padding: 5px 11px;
  font-size: 1.2em;
  border: solid 1px #F9F9F9;
  border-radius: 2px;
  background: #70C6B9;
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 30px;
}

.btn_bay:hover{
  background-color: #E30613;
}