.hah{  
   border: 2px solid #D3D3D3;
   color: #D3D3D3;
   margin: 60;
   border-radius: 110px;
   box-shadow: 1px 1px 150px;
   font-size: 100px;
}

body{
	background-image: url(img/6.jpg)
}

em{
	color: #D3D3D3; 
}

.heh{
	color: #D3D3D3;
	font-family: Comic Sans MS;
}

a{
	color: #D3D3D3;
}


 div img{
	border-radius: 145px; 
}

#aaa{
	font-size: 100px;
}

.friends{
	
}

 

